*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #1b1919;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  margin: 133px 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield {
  appearance: none;
  min-width: 225px;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
}

.search-form__label-active:hover {
  text-decoration: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 75px;
  font-family: Oswald, sans-serif;
  font-weight: 800;
  line-height: 94%;
  text-transform: uppercase;
  word-spacing: -5px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  overflow-y: auto;
  height: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card {
  display: flex;
  flex-direction: flex-start;
}

.content__video-card-title {
  overflow: hidden;
  margin-bottom: -1px;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  font-weight: 300;
  line-height: 16.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-thumbnail {
  object-position: 50% 50%;
  object-fit: cover;
  min-width: 193px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 800;
  color: #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
  min-height: 34px;
}

.more-button {
  min-width: fit-content;
  min-height: 34px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__card-link {
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:not(:focus-visible) {
  outline: none;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  inline-size: 1px;
  block-size: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
